couchdb-manual-ready.xml
couchdb-manual.epub
couchdb-manual.epubfiles/
couchdb-manual.fop
couchdb-manual.html
couchdb-manual.html-dir/
couchdb-manual.html-section/
couchdb-manual.pdf
metadoc-couchdb-*
